# Module 12: Descriptive Statistics & Outliers - Exercises

#### 1. Import the "DC_Properties_1.xlsx" dataset. Before the import, you will need to import the typical libraries. Call this dataset "df". Review the "DC Property Column Descriptions" document saved to canvas to better understand the columns within the dataset. 

<b>NOTE</b>: this file is very large, it may take longer than usual to import.

In [1]:
# import the pandas, numpy, statistics, scipy.stats Python libraries...


import pandas as pd
import numpy as np
import statistics
import scipy.stats as stats

In [2]:
# import the "DC_Properties_1" Excel file into a dataframe with the variable name "df"...

df = pd.read_excel("datasets/DC_Properties_1.xlsx")

#### 2. Preview the first 5 rows of the dataset. In a new cell, output the list of column headers for the dataset.

In [3]:
# use the "head"  function to view the first 5 rows of the "df" dataset...

df.head()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,YR_BUILT,YR_RMDL,STORIES,SALEDATE,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,FULLADDRESS,CITY,STATE,ZIPCODE,WARD,QUADRANT
0,4,0,Warm Cool,Y,8,4,1910.0,1988.0,3.0,2003-11-25,...,Hardwood,2.0,5,1680,1748 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
1,3,1,Warm Cool,Y,11,5,1898.0,2007.0,3.0,2000-08-17,...,Hardwood,2.0,4,1680,1746 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
2,3,1,Hot Water Rad,Y,9,5,1910.0,2009.0,3.0,2016-06-21,...,Hardwood,2.0,4,1680,1744 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
3,3,1,Hot Water Rad,Y,8,5,1900.0,2003.0,3.0,2006-07-12,...,Hardwood,2.0,3,1680,1742 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
4,2,1,Warm Cool,Y,11,3,1913.0,2012.0,3.0,NaT,...,Hardwood,1.0,0,2032,1804 NEW HAMPSHIRE AVENUE NW,WASHINGTON,DC,20009.0,Ward 2,NW

In [4]:
# use the "list" & "print" functions to display the list of column names of the "df" dataset...

print(list(df))

['BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'ROOMS', 'BEDRM', 'YR_BUILT', 'YR_RMDL', 'STORIES', 'SALEDATE', 'PRICE', 'STYLE', 'STRUCT', 'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES', 'LANDAREA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'WARD', 'QUADRANT']

#### 3. Print the shape of the dataset. How many rows and columns are in this dataset?

In [5]:
# use the "shape" & "print" functions to display the number of rows & columns in the "df" dataset...

print(df.shape)

(158957, 26)

In [ ]:
# there are 158,957 rows & 26 columns in this dataset...

#### 4. Write the code to output meta-information about the dataset. This includes the name of the columns, the amount of non-null data in each column, etc. Take note of the column types and the columns that have any missing data.

In [6]:
# use the "info" function to display meta-information about the "df" dataset...
# this includes the number of rows in the dataset, the number of columns in the dataset, 
# the names of each column, the data type(s) of each column, and the amount of non-null data in each column...

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158957 entries, 0 to 158956
Data columns (total 26 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   BATHRM       158957 non-null  int64
 1   HF_BATHRM    158957 non-null  int64
 2   HEAT         158957 non-null  object
 3   AC           158957 non-null  object
 4   ROOMS        158957 non-null  int64
 5   BEDRM        158957 non-null  int64
 6   YR_BUILT     158686 non-null  float64
 7   YR_RMDL      80928 non-null   float64
 8   STORIES      106652 non-null  float64
 9   SALEDATE     132187 non-null  datetime64[ns]
 10  PRICE        98216 non-null   float64
 11  STYLE        106696 non-null  object
 12  STRUCT       106696 non-null  object
 13  CNDTN        106696 non-null  object
 14  EXTWALL      106696 non-null  object
 15  ROOF         106696 non-null  object
 16  INTWALL      106696 non-null  object
 17  KITCHENS     106695 non-null  float64
 18  FIREPLACES   158957 non-null  int64
 19  LANDAREA     158957 non-null  int64
 20  FULLADDRESS  106040 non-null  object
 21  CITY         106051 non-null  object
 22  STATE        106051 non-null  object
 23  ZIPCODE      158956 non-null  float64
 24  WARD         158956 non-null  object
 25  QUADRANT     158720 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(6), object(13)
memory usage: 31.5+ MB

#### 5. Use the appropriate function to determine which columns have missing data. Which column has the most missing values?

In [7]:
# use the "isnull" & "sum" functions to determine and display the number of missing data/values in each column...

df.isnull().sum()

BATHRM             0
HF_BATHRM          0
HEAT               0
AC                 0
ROOMS              0
BEDRM              0
YR_BUILT         271
YR_RMDL        78029
STORIES        52305
SALEDATE       26770
PRICE          60741
STYLE          52261
STRUCT         52261
CNDTN          52261
EXTWALL        52261
ROOF           52261
INTWALL        52261
KITCHENS       52262
FIREPLACES         0
LANDAREA           0
FULLADDRESS    52917
CITY           52906
STATE          52906
ZIPCODE            1
WARD               1
QUADRANT         237
dtype: int64

In [ ]:
# the "YR_RMDL" column has the most missing values...

#### 6. Use the information you've learned about handling missing data to deal with the missing data in this dataset. Create a copy of the original dataset that does not include any missing values. Call this new dataset "df2". You should use this dataset to answer the remaining questions in this assignment.

In [8]:
# use the "dropna" function to create a dataset, named "df2", that will contain data from dataset "df1" 
# with no missing data...

df2 = df.dropna()

In [9]:
# use the "isnull" & "sum" functions to confirm that there is no missing data/values in the "df2" dataset...

df2.isnull().sum()

BATHRM         0
HF_BATHRM      0
HEAT           0
AC             0
ROOMS          0
BEDRM          0
YR_BUILT       0
YR_RMDL        0
STORIES        0
SALEDATE       0
PRICE          0
STYLE          0
STRUCT         0
CNDTN          0
EXTWALL        0
ROOF           0
INTWALL        0
KITCHENS       0
FIREPLACES     0
LANDAREA       0
FULLADDRESS    0
CITY           0
STATE          0
ZIPCODE        0
WARD           0
QUADRANT       0
dtype: int64

#### 7. Using your clean dataset, determine the frequency of unique groups for the following columns:
    * Heat, AC, Year Built, Year Remodeled, Stories, Style, Structure, Condition, Exterior Wall, Roof, Interior Wall, and Quadrant.

In [10]:
# use the "value_counts" function to see the unique values in the "HEAT" column...also, display the sum of the 
# unique values...

df2["HEAT"].value_counts()

Forced Air        14175
Hot Water Rad     10277
Warm Cool          7742
Ht Pump             565
Water Base Brd       62
Wall Furnace         40
Elec Base Brd        36
Electric Rad         22
Gravity Furnac       17
Air-Oil              17
Air Exchng            8
Evp Cool              8
No Data               5
Ind Unit              5
Name: HEAT, dtype: int64

In [11]:
# use the "value_counts" function to see the unique values in the "AC" column...also, display the sum of the 
# unique values...

df2["AC"].value_counts()

Y    27694
N     5277
0        8
Name: AC, dtype: int64

In [12]:
# use the "value_counts" function to see the unique values in the "YR_BUILT" column...also, display the sum of the 
# unique values...

df2["YR_BUILT"].value_counts()

1900.0    3301
1925.0    1527
1910.0    1333
1923.0    1057
1927.0     997
          ...
1859.0       1
1858.0       1
1780.0       1
1835.0       1
1803.0       1
Name: YR_BUILT, Length: 193, dtype: int64

In [13]:
# use the "value_counts" function to see the unique values in the "YR_RMDL" column...also, display the sum of the 
# unique values...

df2["YR_RMDL"].value_counts()

2011.0    1941
2010.0    1860
2013.0    1817
2012.0    1796
2004.0    1760
          ...
1880.0       1
1920.0       1
1928.0       1
1932.0       1
1923.0       1
Name: YR_RMDL, Length: 101, dtype: int64

In [14]:
# use the "value_counts" function to see the unique values in the "STORIES" column...also, display the sum of the 
# unique values...

df2["STORIES"].value_counts()

2.00      24586
3.00       3096
2.50       2150
1.00        961
2.25        776
1.50        533
1.75        356
2.75        185
4.00        151
1.25         83
3.50         33
2.70         13
3.25         10
2.20          7
5.00          7
9.00          6
0.00          6
3.75          4
6.00          3
2.30          3
275.00        2
1.70          2
25.00         2
3.70          1
826.00        1
250.00        1
20.00         1
Name: STORIES, dtype: int64

In [15]:
# use the "value_counts" function to see the unique values in the "STYLE" column...also, display the sum of the 
# unique values...

df2["STYLE"].value_counts()

2 Story            25105
3 Story             3213
2.5 Story Fin       2553
1 Story              913
1.5 Story Fin        590
2.5 Story Unfin      234
4 Story              153
Split Level           71
Split Foyer           49
3.5 Story Fin         42
1.5 Story Unfin       31
Default               14
Bi-Level               6
3.5 Story Unfin        2
Vacant                 1
4.5 Story Unfin        1
4.5 Story Fin          1
Name: STYLE, dtype: int64

In [16]:
# use the "value_counts" function to see the unique values in the "STRUCT" column...also, display the sum of the 
# unique values...

df2["STRUCT"].value_counts()

Row Inside       14360
Single            9178
Semi-Detached     4197
Row End           3909
Multi             1317
Town Inside         12
Town End             4
Default              2
Name: STRUCT, dtype: int64

In [17]:
# use the "value_counts" function to see the unique values in the "CNDTN" column...also, display the sum of the 
# unique values...

df2["CNDTN"].value_counts()

Good         19544
Average       8991
Very Good     4254
Excellent       91
Fair            86
Poor            12
Default          1
Name: CNDTN, dtype: int64

In [18]:
# use the "value_counts" function to see the unique values in the "EXTWALL" column...also, display the sum of the 
# unique values...

df2["EXTWALL"].value_counts()

Common Brick      25996
Wood Siding        1419
Vinyl Siding       1339
Brick/Siding       1251
Stucco             1059
Shingle             292
Brick/Stucco        279
Brick/Stone         255
Aluminum            250
Stone               232
Brick Veneer        128
Stone/Siding        110
Stone/Stucco        108
Stone Veneer         86
Face Brick           48
Hardboard            45
Concrete             21
Concrete Block       19
Metal Siding         18
Stucco Block         14
Default               7
Plywood               3
Name: EXTWALL, dtype: int64

In [19]:
# use the "value_counts" function to see the unique values in the "ROOF" column...also, display the sum of the 
# unique values...

df2["ROOF"].value_counts()

Metal- Sms        10677
Built Up          10525
Comp Shingle       7038
Slate              3394
Neopren             667
Clay Tile           207
Shake               167
Shingle             115
Metal- Pre           84
Typical              48
Composition Ro       30
Metal- Cpr           17
Water Proof           4
Wood- FS              3
Concrete Tile         3
Name: ROOF, dtype: int64

In [20]:
# use the "value_counts" function to see the unique values in the "INTWALL" column...also, display the sum of the 
# unique values...

df2["INTWALL"].value_counts()

Hardwood         26240
Hardwood/Carp     3523
Wood Floor        2504
Carpet             635
Ceramic Tile        25
Lt Concrete         21
Default             11
Parquet              6
Vinyl Comp           5
Vinyl Sheet          4
Resiliant            4
Terrazo              1
Name: INTWALL, dtype: int64

In [21]:
# use the "value_counts" function to see the unique values in the "QUADRANT" column...also, display the sum of the 
# unique values...

df2["QUADRANT"].value_counts()

NW    17064
NE     9753
SE     5918
SW      244
Name: QUADRANT, dtype: int64

#### 8. Use the describe function to output descriptive statistics for the numeric variables in the dataset. Are there any odd values that show up in this list?

In [22]:
# use the "describe" function to display/show the descriptive statistics for the numeric variables 
# in the "df2" dataset...

df2.describe()

,BATHRM,HF_BATHRM,ROOMS,BEDRM,YR_BUILT,YR_RMDL,STORIES,PRICE,KITCHENS,FIREPLACES,LANDAREA,ZIPCODE
count,32979.000000,32979.000000,32979.000000,32979.000000,32979.000000,32979.000000,32979.000000,3.297900e+04,32979.000000,32979.000000,32979.000000,32979.000000
mean,2.375663,0.682798,7.575336,3.526062,1924.151642,2004.242639,2.159298,6.854156e+05,1.283423,0.758907,3150.510780,20010.235028
std,1.056258,0.597738,2.329215,1.167389,22.193923,16.679813,5.212966,6.434792e+05,0.672215,0.985923,3280.832554,7.510712
min,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,0.000000,1.000000e+00,0.000000,0.000000,216.000000,20001.000000
25%,2.000000,0.000000,6.000000,3.000000,1910.000000,2002.000000,2.000000,3.250000e+05,1.000000,0.000000,1468.000000,20003.000000
50%,2.000000,1.000000,7.000000,3.000000,1924.000000,2008.000000,2.000000,5.680000e+05,1.000000,1.000000,2085.000000,20010.000000
75%,3.000000,1.000000,9.000000,4.000000,1939.000000,2013.000000,2.000000,8.450000e+05,1.000000,1.000000,3975.000000,20016.000000
max,11.000000,11.000000,31.000000,20.000000,2015.000000,2019.000000,826.000000,2.396029e+07,44.000000,13.000000,155905.000000,20052.000000

In [ ]:
# the "max" value for the "STORIES" column is 826...that seems to be an data entry error, since no building, by law, 
# can be taller # than 130 feet (commercial streets) and 90 feet (residential streets), and 160 feet for parts of 
# Pennsylvania Avenue, NW...

# the "mean" (1924.151642) and "median" (1924.000000) values for the "YR_BUILT" column are close...not a large 
# amount of new construction have commenced in recent years...

# the "min" value for "PRICE" is 1...highly doubtful that any property is actually worth $1...

# the "max" value for "KITCHENS" is 44...

#### 9. Select one of the following columns: 
        
        - Land Area 
        - Price
        - Rooms
   #### Working with this column, calculate the mean, median, and mode.

In [24]:
# use the "mean" function to determine the average value for the "LANDAREA" column in the "df2" dataset...

df2["LANDAREA"].mean()

3150.51077958701

In [ ]:
# the mean (average) for the values in the "LANDAREA" column is 3150.51077958701 square feet...

In [23]:
# use the "median" function to determine the middle value for the "LANDAREA" column in the "df2" dataset...

df2["LANDAREA"].median()

2085.0

In [ ]:
# the median for the values in the "LANDAREA" column is 2085.0 square feet...

In [25]:
# use the "mode" function to determine the value with the most occurences for the "LANDAREA" column
# in the "df2" dataset...

df2["LANDAREA"].mode()

0    1800
dtype: int64

In [ ]:
# the mode (the largest number of occurences) for the "LANDAREA" column is 1800 square feet...

In [26]:
df2["LANDAREA"].value_counts()

1800    355
2000    335
1600    265
5000    239
1500    215
       ...
3535      1
9706      1
5644      1
9770      1
2047      1
Name: LANDAREA, Length: 6891, dtype: int64

In [ ]:
# to see the amount of occurences of the value "1800" in the "LANDAREA" column, the "value_counts" function
# was used...it occurs 355 times...

#### 10. Select one of the following columns: 
        
        - Land Area 
        - Price
        - Rooms
   #### Working with this column, calculate the range, standard deviation, and first and third quartiles.

In [28]:
# in order to determine the "range" of values in the "PRICE" column, first, the "max" and "min" values from the
# "PRICE" column is needed...

# use the "max" function to find the maximum value in the "PRICE" column...
# the variable "price_max" will store the maximum value...

# use the "min" function to find the maximum value in the "PRICE" column...
# the variable "price_min" will store the minimum value...

# use the "print" function to display the minimum and maximum values...

price_max = (df2["PRICE"].max())
price_min = (df2["PRICE"].min())
print(price_max)
print(price_min)

23960287.0
1.0

In [ ]:
# the "max" value in the "PRICE" column is $23,960,287.0
# the "min" value in the "PRICE" column is $1.0

In [29]:
# the "range" of values in the "PRICE" column is the maximum value minus the minimum value...
# range = maximum value - minimum value...

# the variable named "price_range" will store the value of the range for the "PRICE" column...
# use the "print" function to display the range...

price_range = price_max - price_min
print(price_range)

23960286.0

In [ ]:
# the "range" of the values from the "PRICE" column is $23,960,286.0

In [30]:
# use the "std" function to determine the standard deviation of values from the "PRICE" column...

df2["PRICE"].std()

643479.2098126055

In [ ]:
# the standard deviation of the values from the "PRICE" column is 643,479.2098126055

In [31]:
# use the "quantile" function to determine the 1st quartile for values in the "PRICE" column...

df2["PRICE"].quantile(.25)

325000.0

In [32]:
## use the "percentile" function to determine the 1st quartile for values in the "PRICE" column...

np.percentile(df2['PRICE'], 25)

325000.0

In [ ]:
# the value for the 1st quartile of the "PRICE" column is $325,000.0

In [33]:
# use the "quantile" function to determine the 3rd quartile for values in the "PRICE" column...

df2["PRICE"].quantile(.75)

845000.0

In [34]:
# use the "percentile" function to determine the 3rd quartile for values in the "PRICE" column...

np.percentile(df2['PRICE'], 75)

845000.0

In [ ]:
# the value for the 3rd quartile of the "PRICE" column is $845,000.0

#### 11. Select one of the following columns: 
        
        - Land Area 
        - Price
        - Rooms
   #### Working with this column, use BOTH outlier detection methods (separately) to identify and remove any outliers. For each method, similar to the Module 5 lesson, create a copy of your dataset ("df2"). Are there differences in the number of outliers removed between methods?

In [34]:


df3 = df2.copy()
df3.head()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,YR_BUILT,YR_RMDL,STORIES,SALEDATE,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,FULLADDRESS,CITY,STATE,ZIPCODE,WARD,QUADRANT
0,4,0,Warm Cool,Y,8,4,1910.0,1988.0,3.0,2003-11-25,...,Hardwood,2.0,5,1680,1748 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
2,3,1,Hot Water Rad,Y,9,5,1910.0,2009.0,3.0,2016-06-21,...,Hardwood,2.0,4,1680,1744 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
3,3,1,Hot Water Rad,Y,8,5,1900.0,2003.0,3.0,2006-07-12,...,Hardwood,2.0,3,1680,1742 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
7,3,1,Hot Water Rad,Y,8,4,1906.0,2011.0,3.0,2011-09-29,...,Hardwood,2.0,1,1627,1746 1/2 T STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
8,3,1,Warm Cool,Y,7,3,1908.0,2008.0,2.0,2018-05-03,...,Hardwood,2.0,1,1424,1727 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW

In [35]:
print(df3.shape)

(32979, 26)

In [35]:
# place a copy of the "df2" dataset into a variable named "dfz"...this dataset will be used to detect and
# remove outliers using z-score(s)...

dfz = df2.copy()

# display the first 5 rows of the "dfz" dataset
dfz.head()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,YR_BUILT,YR_RMDL,STORIES,SALEDATE,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,FULLADDRESS,CITY,STATE,ZIPCODE,WARD,QUADRANT
0,4,0,Warm Cool,Y,8,4,1910.0,1988.0,3.0,2003-11-25,...,Hardwood,2.0,5,1680,1748 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
2,3,1,Hot Water Rad,Y,9,5,1910.0,2009.0,3.0,2016-06-21,...,Hardwood,2.0,4,1680,1744 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
3,3,1,Hot Water Rad,Y,8,5,1900.0,2003.0,3.0,2006-07-12,...,Hardwood,2.0,3,1680,1742 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
7,3,1,Hot Water Rad,Y,8,4,1906.0,2011.0,3.0,2011-09-29,...,Hardwood,2.0,1,1627,1746 1/2 T STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
8,3,1,Warm Cool,Y,7,3,1908.0,2008.0,2.0,2018-05-03,...,Hardwood,2.0,1,1424,1727 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW

In [38]:
# check and display the shape of the "dfz" dataset...

print(dfz.shape)

(32979, 27)

In [ ]:
# there are 32,979 rows & 26 columns in the "dfz" dataset...

In [39]:
# create a new column, named "ZSCORE_ROOMS", to contain the z-scores for the values in the "ROOMS" column...
# use the "stats.zscore" function to calculate the z-scores...
# use the "np.abs" function to set the new column equal to the absolute value of those z-scores 
# for the corresponding number of rooms...


dfz["ZSCORE_ROOMS"] = np.abs(stats.zscore(dfz["ROOMS"]))

In [40]:
# use the "head"  function to display the first 5 rows of the "dfz" dataset with the added "ZSCORE_ROOMS" column...

dfz.head()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,YR_BUILT,YR_RMDL,STORIES,SALEDATE,...,KITCHENS,FIREPLACES,LANDAREA,FULLADDRESS,CITY,STATE,ZIPCODE,WARD,QUADRANT,ZSCORE_ROOMS
0,4,0,Warm Cool,Y,8,4,1910.0,1988.0,3.0,2003-11-25,...,2.0,5,1680,1748 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.182324
2,3,1,Hot Water Rad,Y,9,5,1910.0,2009.0,3.0,2016-06-21,...,2.0,4,1680,1744 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.611659
3,3,1,Hot Water Rad,Y,8,5,1900.0,2003.0,3.0,2006-07-12,...,2.0,3,1680,1742 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.182324
7,3,1,Hot Water Rad,Y,8,4,1906.0,2011.0,3.0,2011-09-29,...,2.0,1,1627,1746 1/2 T STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.182324
8,3,1,Warm Cool,Y,7,3,1908.0,2008.0,2.0,2018-05-03,...,2.0,1,1424,1727 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.247012

In [41]:
# check and display the shape of the "dfz" dataset...

print(dfz.shape)

(32979, 27)

In [42]:
# Determine the index locations for the rows with z-scores that are greater than "3"
# z-scores greater than "3" are considered to be outliers with the rest of the dataset...
# store the index(es) with the z-score outliers in a variable named "z_outliers"...

z_outliers = dfz[dfz["ZSCORE_ROOMS"] > 3].index

z_outliers

Int64Index([   102,    202,    208,    250,    616,    681,    689,    693,
               797,    815,
            ...
            105391, 105392, 105393, 105505, 105510, 106080, 106176, 106209,
            106467, 106522],
           dtype='int64', length=637)

In [43]:
# view a couple of the indexes and the associated "ROOMS" value...

print(dfz.iloc[102]["ROOMS"])   
print(dfz.iloc[815]["ROOMS"])

15
6

In [44]:
# use the "describe" function to view statistics of the "ROOMS" values in the "dfz" dataset...

dfz["ROOMS"].describe()

count    32979.000000
mean         7.575336
std          2.329215
min          0.000000
25%          6.000000
50%          7.000000
75%          9.000000
max         31.000000
Name: ROOMS, dtype: float64

In [45]:
# use the "drop" function to remove the rows with the outliers in the "ROOMS" column from the "dfz" dataset...

dfz = dfz.drop(z_outliers)

In [46]:
# use the "shape" function to view the shape of the updated "dfz" dataset...

print(dfz.shape)

(32342, 27)

In [47]:
# use the "describe" function to view statistics of the "ROOMS" values in the updated "dfz" dataset...

dfz["ROOMS"].describe()

count    32342.000000
mean         7.400779
std          1.961497
min          2.000000
25%          6.000000
50%          7.000000
75%          8.000000
max         14.000000
Name: ROOMS, dtype: float64

In [ ]:
# before removing the outliers, the "dfz" dataset contained 32,979 rows and 26 columns...
# after using z-scores to remove outliers in the "ROOMS" column, the "dfz" dataset contained 32,343 rows and 
# 27 columns...
# 636 rows were removed from the original "dfz" dataset...

In [48]:
# use the "copy" function to place a copy of the "df2" dataset into a variable named "dfq"...this dataset 
# will be used to detect and remove outliers using the Interquartile Range (IQR)...

dfq = df2.copy()

In [49]:
# use the "head"  function to display the first 5 rows of the "dfq" dataset column...

dfq.head()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,YR_BUILT,YR_RMDL,STORIES,SALEDATE,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,FULLADDRESS,CITY,STATE,ZIPCODE,WARD,QUADRANT
0,4,0,Warm Cool,Y,8,4,1910.0,1988.0,3.0,2003-11-25,...,Hardwood,2.0,5,1680,1748 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
2,3,1,Hot Water Rad,Y,9,5,1910.0,2009.0,3.0,2016-06-21,...,Hardwood,2.0,4,1680,1744 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
3,3,1,Hot Water Rad,Y,8,5,1900.0,2003.0,3.0,2006-07-12,...,Hardwood,2.0,3,1680,1742 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
7,3,1,Hot Water Rad,Y,8,4,1906.0,2011.0,3.0,2011-09-29,...,Hardwood,2.0,1,1627,1746 1/2 T STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
8,3,1,Warm Cool,Y,7,3,1908.0,2008.0,2.0,2018-05-03,...,Hardwood,2.0,1,1424,1727 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW

In [50]:
# Check shape of the dataset

dfq.shape

(32979, 26)

In [51]:
# Calculate quartiles for the values in the "ROOMS" column

q1 = dfq["ROOMS"].quantile(.25)
q3 = dfq["ROOMS"].quantile(.75)


# calculate the Interquartile Range (IQR)...
iqr = q3 - q1


# determine/calculate the outlier fences...
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)

In [52]:
# display the Interquartile Range (IQR), the top & bottom outlier fences...

print("q1=", q1, "q3=", q3, "iqr=", iqr, "bottom=", bottom, "top=", top)

q1= 6.0 q3= 9.0 iqr= 3.0 bottom= 1.5 top= 13.5

In [53]:
## Determine the index locations for rows that fall outside of outlier fences (top & bottom)

iqr_outliers = dfq[(dfq["ROOMS"] > top) | (dfq["ROOMS"] < bottom)].index

# display the index(s) that contain values in the "ROOMS" column that are outliers...

print(iqr_outliers)

Int64Index([    20,    102,    202,    208,    250,    616,    681,    689,
               693,    744,
            ...
            105505, 105510, 106080, 106176, 106178, 106209, 106366, 106467,
            106522, 106683],
           dtype='int64', length=839)

In [54]:
# drop the rows that contain the outliers in the "dfq" dataset with the associated index values...
dfq = dfq.drop(iqr_outliers)


# check the shape of the updated "dfq" dataframe...
print(dfq.shape)

(32140, 26)

In [55]:
## Re-check the shape of the dataframe, how many rows were dropped?
print(dfz.shape)

(32342, 27)

In [56]:
# display the first 5 rows of the updated "dfq" dataset...

dfq.head()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,YR_BUILT,YR_RMDL,STORIES,SALEDATE,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,FULLADDRESS,CITY,STATE,ZIPCODE,WARD,QUADRANT
0,4,0,Warm Cool,Y,8,4,1910.0,1988.0,3.0,2003-11-25,...,Hardwood,2.0,5,1680,1748 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
2,3,1,Hot Water Rad,Y,9,5,1910.0,2009.0,3.0,2016-06-21,...,Hardwood,2.0,4,1680,1744 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
3,3,1,Hot Water Rad,Y,8,5,1900.0,2003.0,3.0,2006-07-12,...,Hardwood,2.0,3,1680,1742 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
7,3,1,Hot Water Rad,Y,8,4,1906.0,2011.0,3.0,2011-09-29,...,Hardwood,2.0,1,1627,1746 1/2 T STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW
8,3,1,Warm Cool,Y,7,3,1908.0,2008.0,2.0,2018-05-03,...,Hardwood,2.0,1,1424,1727 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW

In [57]:
# display the first 5 rows of the updated "dfz" dataset...

dfz.head()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,YR_BUILT,YR_RMDL,STORIES,SALEDATE,...,KITCHENS,FIREPLACES,LANDAREA,FULLADDRESS,CITY,STATE,ZIPCODE,WARD,QUADRANT,ZSCORE_ROOMS
0,4,0,Warm Cool,Y,8,4,1910.0,1988.0,3.0,2003-11-25,...,2.0,5,1680,1748 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.182324
2,3,1,Hot Water Rad,Y,9,5,1910.0,2009.0,3.0,2016-06-21,...,2.0,4,1680,1744 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.611659
3,3,1,Hot Water Rad,Y,8,5,1900.0,2003.0,3.0,2006-07-12,...,2.0,3,1680,1742 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.182324
7,3,1,Hot Water Rad,Y,8,4,1906.0,2011.0,3.0,2011-09-29,...,2.0,1,1627,1746 1/2 T STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.182324
8,3,1,Warm Cool,Y,7,3,1908.0,2008.0,2.0,2018-05-03,...,2.0,1,1424,1727 SWANN STREET NW,WASHINGTON,DC,20009.0,Ward 2,NW,0.247012

In [ ]:
# before removing the outliers, the "dfq" dataset contained 32,979 rows and 26 columns...
# after using Interquartile Range (IQR) to remove outliers in the "ROOMS" column, the "dfq" dataset 
# contained 32,140 rows and 26 columns...
# 839 rows were removed from the original "dfq" dataset...

In [ ]:
# in comparing the 2 methods used to remove outliers in the "ROOMS" column:
# using z-scores: 636 rows were removed...
# using Interquartile Range (IQR): 839 rows were removed...